body   {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.back_menu  {
    color: #45aa67;
    text-decoration: none;
    transition: 0.2s;
}
.back_menu:hover    {
    color: #45dd67;
    transition: 0.2s;
}

label   {
    color: #444;
}

#text_input     {
    outline: none;
    width: 300px;
    height: 20px;
    font-size: 14px;
    border: 1px solid #444;
    color: #444;
}
#text_input::placeholder    {
    color: #444;
}

hr  {
    border: 1px solid #444;
}

p   {
    font-style: italic;
    color: #45aa67;
}

#btn    {
    border: 1px solid #444;
    height: 25px;
    outline: none;
    width: 360px;
    color: #fff;
    background-color: #444;
    transition: 0.2s;
    cursor: pointer;
}
#btn:hover  {
    color: #444;
    background-color: #fff;
    transition: 0.2s;
}